<div class="login-form">
     <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" [class.ng-submitted]="submitted">
       <div class="form-group text-center">
         <h2 [hidden]="param">New Employee</h2>
         <h2 [hidden]="!param">Edit Employee</h2>
       </div>
       <div class=" form-group-custom">
        <label for="name">Name:</label>
         <input class="form-control" formControlName="name" id="name" placeholder="name" type="text">
         <div class="invalid-feedback" *ngIf="hasError('name','required') && !submitted">Please type your username.</div>
        </div>
       <div class="form-group-custom">
         <label for="age">Age:</label>
         <input class="form-control" formControlName="age" id="age" placeholder="age" type="number">
         <div class="invalid-feedback" *ngIf="hasError('age','required')  && !submitted">Please type your password.</div>
         </div>
         <div class="form-group-custom">
           <label for="email">Email:</label>
           <input class="form-control" formControlName="email" id="email" placeholder="email" type="text">
           <div class="invalid-feedback" *ngIf="hasError('email','required')  && !submitted">Please type your password.</div>
           </div>
       <div class="form-group-custom">
         <label></label>
         <button class="btn-custom" type="submit">ADD</button>
         <button class="btn-custom reset" type="reset">CANCEL</button>
       </div>
     </form>
 </div>

<!-- <app-forgot-password></app-forgot-password> -->